.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
}
.nav-items ul{
    font-size: 24px;
    list-style: none;
    display: flex;
    padding: 0px 50px;
}
.nav-items ul li{
    margin: 10px;
    padding: 10px;
}
.search{
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.res-card{
    margin: 5px;
    width: 200px;
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid transparent;
}
.res-card:hover{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 150px;
}
.filter-btn,
.clear-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shimmer-card{
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: #f0f0f0 ;
    color: grey;
    display: inline-block;
    /* adding gradients */
    -webkit-mask: linear-gradient(120deg, #000 25%, #0005, #000 75%) right/250% 100%;
    /* shimmer effect animation */
    animation: shimmer 2.5s infinite;
    background-repeat: no-repeat;
}

.login-btn{
    padding: 0 10px;
    cursor: pointer;
}

@keyframes shimmer {
    100% {
        /* setting up mask position at left side */
        -webkit-mask-position: left
     }
 }